<div
  class="movie-container"
  id="movie"
  tabindex="0"
  aria-label="Movie short details. Press enter to expand"
>
  <div class="less-info">
    <img
      id="moviePoster"
      class="poster"
      src="https://image.tmdb.org/t/p/w185"
    />
    <div class="details">
      <h2 id="movieTitle" class="movie-title"></h2>
      <span id="movieVoteAverage" class="movie-vote-average">
        <i class="fas fa-star"></i>
      </span>
      <span id="movieYearRelease" class="movie-year-release">
        <i class="fas fa-calendar-alt"></i>
      </span>
      <span id="movieGenres" class="movie-genres">
        <i class="fas fa-ticket-alt"></i>
      </span>
      <p id="movieOverview" class="movie-overview"></p>
    </div>
  </div>
  <div class="more-info">
    <div id="movieOverviewPhone" class="movie-overview-phone more-section">
      <h3>Overview</h3>
    </div>
    <div id="movieVideo" class="more-section">
      <h3>Trailer</h3>
    </div>
    <div id="movieReviews" class="more-section">
      <h3>Reviews</h3>
    </div>
    <div id="movieSimilars" class="more-section">
      <h3>Similar Movies</h3>
    </div>
  </div>
</div>
