<div class="movie-list-container">
  <div class="search-area">
    <div id="searchContainer" class="search-container">
      <label class="hidden-label" for="search" tabindex="0">Search</label>
      <input
        type="text"
        id="search"
        class="search"
        name="search"
        maxlength="60"
        placeholder="&#xF002;"
      />
      <button id="searchClear" class="search-clear">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div id="loaderContainer">
    <movierama-movie-skeleton></movierama-movie-skeleton>
    <movierama-movie-skeleton></movierama-movie-skeleton>
  </div>
  <div id="moviesContainer" class="movies">
  
  </div>
</div>
