<style>
  .movie-list-container {
    padding: 1rem;
    height: 80vh;
  }

  .search-area {
    display: flex;
    justify-content: center;
  }

  .search-container {
    margin: 1rem;
    text-align: center;
    position: relative;
    height: 4rem;
    align-self: center;
  }

  .search-container .hidden-label {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }

  .search-container .search {
    font-family: FontAwesome;
    font-size: 3rem;
    width: 4rem;
    transition: width 0.4s ease-in-out;
  }

  .search-container.active,
  .search-container.active .search {
    width: 28rem;
  }

  .search-container.active .search {
    font-family: unset;
    font-size: 2.4rem;
  }

  .search-container .search-clear {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
    position: absolute;
    bottom: 1.2rem;
    right: 0.5rem;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: #f32013;
  }

  .search-container.active .search-clear {
    visibility: visible;
    opacity: 1;
  }

  .movies {
    height: 85%;
    overflow: auto;
    scrollbar-color: #316a6d #323232;
  }

  #loaderContainer {
    display: none;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

  #loaderContainer.active {
    display: flex;
  }

  #loaderContainer .loader {
    border: 0.5rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.5rem solid #316a6d;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 720px) {
    .movie-list-container {
      height: 75rem;
    }
  }
</style>

<div class="movie-list-container">
  <div class="search-area">
    <div id="searchContainer" class="search-container">
      <label class="hidden-label" for="search" tabindex="0">Search</label>
      <input
        type="text"
        id="search"
        class="search"
        name="search"
        placeholder="&#xF002;"
      />
      <button id="searchClear" class="search-clear">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div id="loaderContainer">
    <div class="loader"></div>
  </div>
  <div id="moviesContainer" class="movies"></div>
</div>
